[submodule "rocksdb"]
	path = src/third_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "mongo-rocks"]
	path = src/mongo/db/storage/rocks
	url = https://github.com/percona/mongo-rocks.git
